# Archivos comprimidos y de respaldo
*.zip
*.tar.gz
*.rar
*.bak
*.sql
backup.zip

# Archivos de logs y errores
*.log
error_log

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno (Seguridad)
.env